{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center ">Your cart total is €{{ grand_total|floatformat:2 }}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in cart_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0"><strong>Volume(ml): </strong>{% if item.product.volumes %}{{ item.volume|upper }}{% else %}N/A{% endif %}</p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">€{{ item.product.price }}</p>
                                </td>
                                <td class="py-3 ">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group quantity">
                                            <div class="input-group flex-nowrap ">
                                                <div class="input-group-prepend">
                                                    <button class="qty-decrement rounded-0 btn-blue btn-sm" data-item_id="{{ item.item_id }}"
                                                        id = "qty-decrement_{{ item.item_id  }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" 
                                                    max="99" data-item_id="{{ item.item_id  }}" id="id_qty_{{ item.item_id  }}">
                                                <div class="input-group-append">
                                                    <button class="qty-increment rounded-0 btn-blue btn-sm" data-item_id="{{ item.item_id  }}"
                                                        id = "qty-increment_{{ item.item_id  }}">
                                                        <span >
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                {% if item.product.volumes %}
                                                    <input type="hidden" nam="product_volume" value="{{ item.volume }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-info d-block text-center"><u><small>UPDATE</small></u></a>
                                    <a class="remove-item text-danger d-block text-center" id="remove_{{ item.item_id }}" data-product_size=" {{ item.volume }}"><u><small>REMOVE</small></u></a>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">€{{ item.product.price | sum_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Cart Total: ${{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'products' %}" class="btn btn-outline-shopping rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="" class="btn btn-outline-checkout btn-lg rounded-0 text-uppercase py-3">
                                    <span class="text-uppercase" id="checkout-text">Secure Checkout</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                    <p class="lead mb-5">Your cart is empty.</p>
                    <a href="{% url 'products' %}" class="btn-shopping btn btn-lg rounded-0 text-uppercase py-3">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase" id="shopping-text">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/input_quantity_js.html' %}

<script type="text/javascript">
    // Update quantity upon click action
    $('.update-link').click(function(e){
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item upon click action
    $('.remove-item').click(function(e){
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var volume = $(this).data('product_volume');
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_volume': volume};

        $.post(url,data)
        .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}