html {
    height: 100%;
}

.background-image {
    background: url("/media/home_background.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    color: #555;
    font-family: 'Playfair-display';
}

.blog-image {
    background: url("/media/blog.jpg") no-repeat center;
    height: 50vh;
    background-size: cover;
    color: #555;
    font-family: 'Playfair-display';
}

.card-blog {
    opacity: .9;
    padding-top: 3rem;
}

/* from uiverse.io by Adamgiebl */
.blog-button {
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid;
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--black);
    box-shadow: inset 0 0 10px rgba(27, 253, 155, 0.055), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.card-body-button {
    padding-top: 15rem;
}

.card-frontpage {
    box-shadow: 0 16px 48px #4b6279;
    padding-top: 3rem;
    padding-bottom: 3rem;
} 

#top-review {
    width: 40%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.post-date {
    margin-top: 2rem;
}

.post-title {
    margin-top: 3rem;
}

a.post-link {
    color: rgba(1, 97, 92, 0.719);

}

body {
    font-family: 'Playfair-display';
}

.navbar {
    justify-content: space-around;
    padding-top: 1rem;
}

.nav-link {
    padding: 0;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-button {
    background: #2E5266FF;
    color: #F95700FF;
    min-width: 260px;
    font-weight: bold;
    margin-top: 10rem;
}

.btn-blue {
    background: #2E5266FF;
    color: #F95700FF;
}

.btn-outline-explore:hover,
.btn-outline-explore:active,
.btn-outline-explore:focus, 
.shop-button:hover,
.shop-button:active,
.shop-button:focus,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background: #2E5266FF;
    color: white;
}

.btn-outline-explore:hover,
.btn-outline-explore:active,
.btn-outline-explore:focus {
    background: #2E5266FF;
    color: #F95700FF;
}

.text-orange {
    color: #F95700FF !important;
}

.text-blue {
    color: #2E5266FF !important;
}

.text-black {
    color: black;
}

.border-blue {
    border: 3px solid #2E5266FF !important;
}

.btn-outline-blue {
    border: 2px solid #2E5266FF; 
}

.bg-blue {
    background: #2E5266FF !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position:fixed;
    background: white;
    z-index: -1;
}

.btn-outline-explore {
    background: #2E5266FF !important;
    color: white;
    border: 1px solid; 
    width: 60%;
}

.btn-outline-add {
    background: white;
    color: #2E5266FF;
    border: 1px solid;
    width: 60%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#btn-explore {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-outline-shopping {
    background: white;
    color: #2E5266FF;
    border: 2px solid;
    width: 20%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    width: 40%;
}

.btn-outline-checkout {
    background: #2E5266FF;
    color: #F95700FF;
    border: 2px solid;
    width: 20%;
    font-size: 1rem;  
    width: 40%;
}

.quantity {
    width: 90%;
}

.update-link,
.remove-item {
    cursor: pointer;
}

div.form-control.quantity {
    width: 0;
}

.form-control {
    border: 1.5px solid #2E5266FF;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 12px;
}

.main-blog {
    font-size: 2rem;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Pulse animation effect - derived and edited from "FrontEndChannels" from Instagram */
.notifier  {
    animation: pulse 1500ms infinite;
}

@keyframes pulse {
    0% {
        box-shadow: #F95700FF 0 0 0 0;
    }
    75% {
        box-shadow: #ff69b400 0 0 0 16px;
    }
}

.hover-slider:hover {
    box-shadow: inset 200px 0 0 0 #F95700FF;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}


/* -------------------------------- Allauth form styling */

.allauth-form-inner-content {
    padding-top: 10rem;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #2E5266FF;
    border: 1px solid white;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------- Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #8b0412;
}

.custom-control-label,
.emtpy-query {
    color: #8b0412;
    text-align: center;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #8b0412;
    border-color: #8b0412;
    border-radius: 0;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
    max-width: 80%;
  }

    .slogan {
    margin-top: 280px;
    font-size: 2rem;
    }
}



/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 1199px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .slogan {
        margin-top: 6rem;
        font-size: 1.5rem;
    }
}

/* Pushing the top section in mobile resolution */
@media (max-width: 992px) {
    .header-container {
        padding-top: 180px;
    }

    .slogan {
        margin-top: 5rem;
        font-size: 1.5rem;
    }

    body {
        height: calc(100vh-180px);
    }
}

@media (max-width: 768px) {
    .header-container {
        padding-top: 180px;
    }

    .slogan {
        margin-top: 4rem;
        font-size: 1.5rem;
    }

    body {
        height: calc(100vh-180px);
    }
}