html {
    height: 100%;
}

body {
    background: url('/media/home_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    height: 100vh;
    color: #555;
    font-family: 'Playfair-display';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-button {
    background: #2E5266FF;
    color: #F95700FF;
    min-width: 260px;
    font-weight: bold;
    margin-top: 10rem;
}

.btn-blue {
    background: #2E5266FF;
    color: #F95700FF;
}


.btn-outline-explore:hover,
.btn-outline-explore:active,
.btn-outline-explore:focus, 
.shop-button:hover,
.shop-button:active,
.shop-button:focus,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background: #2E5266FF;
    color: white;
}

.btn-outline-explore:hover,
.btn-outline-explore:active,
.btn-outline-explore:focus {
    background: #2E5266FF;
    color: #F95700FF;
}

.text-orange {
    color: #F95700FF !important;
}

.text-blue {
    color: #2E5266FF !important;
}

.text-black {
    color: black;
}

.border-blue {
    border: 3px solid #2E5266FF !important;
}

.bg-blue {
    background: #2E5266FF !important;
}

.slogan {
    margin-top: 13rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position:fixed;
    background: white;
    z-index: -1;
}

.btn-outline-explore {
    background: #2E5266FF !important;
    color: white;
    border: 1px solid; 
    width: 60%;
}

.btn-outline-add {
    background: white;
    color: #2E5266FF;
    border: 1px solid;
    width: 60%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#btn-explore {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-outline-shopping {
    background: white;
    color: #2E5266FF;
    border: 2px solid;
    width: 20%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    width: 40%;
}

.btn-outline-checkout {
    background: #2E5266FF;
    color: #F95700FF;
    border: 2px solid;
    width: 20%;
    font-size: 1rem;  
    width: 40%;
}

.quantity {
    width: 90%;
}

.update-link,
.remove-item {
    cursor: pointer;
}

div.form-control.quantity {
    width: 0;
}
/*****************************************************  testing  ********************************************************************/
input#id_qty_9.form-control.qty_input {
    padding: 1rem;
}
/*******************************************************testing ************************************************************/

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }

  .slogan {
    margin-top: 18rem;
}
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .slogan {
        margin-top: 18rem;
    }
}

/* Pushing the top section in mobile resolution */
@media (max-width: 991px) {
    .header-container {
        padding-top: 180px;
    }

    .display-4 {
        font-size: 2.5rem;
    }

    .slogan {
        margin-top: 18rem;
    }

    body {
        height: calc(100vh-180px);
    }
}