{% extends 'base.html' %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>

    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-black text-center">Welcome to my blog.</h3>
                    </p>
                </div>
            </div>
        </div>
        {% for post in posts %}
            <div class="post block">
                <h2 class="subtitle">{{ post.title }}</h2>

                <p>{{ post.content }}</p>

                <small>Posted at {{ post.created_on }}</small>

                <a href = "{% url 'post_list' post.slug%}">Read More!</a>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}